---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moulberry's bush">
	<main>
		<h1>
			Welcome to the website for <span class="text-gradient">Moulberry's Bush</span>
		</h1>
		<p>If you came here for appeals, please choose a type:</p>
		<ul>
			<li><a href="/appeals/form?type=ban">Ban</a></li>
			<li><a href="/appeals/form?type=mute">Mute</a></li>
			<li><a href="/appeals/form?type=block">Channel Block</a></li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	a {
		color: white;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
