---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Moulberry's bush appeal form" />
		<meta name="viewport" content="width=device-width" />
		<meta name="darkreader-lock" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://cdn.discordapp.com/icons/516977525906341928/5c87ffb26d6da7b8b35b743fea12501a.png?size=2048"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #262627;
		background-size: 224px;
	}
	div.error {
		background-color: rgba(255, 68, 68, 0.692);
		padding: 1%;
		border-radius: 10px;
	}
</style>
